Repository loqalabs/loqa-commander, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loqalabs/core-team, @loqalabs/frontend-team, @loqalabs/devops-team

Fix ESLint configuration and CI workflow
  .github/workflows/ci.yml
  package.json
Owners: @loqalabs/devops-team, @loqalabs/core-team

Update package-lock.json with @rushstack/eslint-patch dependency
  package-lock.json
Owners: @loqalabs/core-team

Fix ESLint configuration rules
  .eslintrc.cjs
Owners: @loqalabs/core-team

Fix Prettier formatting issues
  src/App.vue
  src/components/EventDetailModal.vue
  src/components/VoiceEventCard.vue
  src/components/VoiceEventTimeline.vue
  src/main.js
  src/style.css
  src/views/Analytics.vue
  src/views/Timeline.vue
Owners: @loqalabs/frontend-team

Milestone 4a: Skills Management UI (#1)
  .eslintrc.cjs
  Dockerfile
  README.md
  postcss.config.js
  src/components/SkillDetailModal.vue
  src/views/Skills.vue
  tailwind.config.js
  vite.config.js
Owners: @loqalabs/core-team, @loqalabs/devops-team, @loqalabs/frontend-team

Update CI workflow to use Docker Hub instead of GitHub Container Registry
  .github/workflows/ci.yml
Owners: @loqalabs/devops-team

Trigger workflow run
  .github/workflows/README.md
Owners: @loqalabs/devops-team

Fix Docker login action registry context
  .github/workflows/ci.yml
Owners: @loqalabs/devops-team

Add latest tag for main branch Docker builds
  .github/workflows/ci.yml
Owners: @loqalabs/devops-team

Implement compact/collapsed default view for event boxes
  src/components/VoiceEventCard.vue
  src/style.css
Owners: @loqalabs/frontend-team

Update Observer to use real-time active pucks API
  src/components/VoiceEventTimeline.vue
  src/views/Timeline.vue
Owners: @loqalabs/frontend-team

Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Owners: @loqalabs/devops-team

Add missing sponsor badges, CI badge, and project branding consistency
  README.md
Owners: @loqalabs/core-team

Standardize PR template to match organization format with security and performance sections
  .github/pull_request_template.md
Owners: @loqalabs/devops-team

Add CONTRIBUTING.md and CODE_OF_CONDUCT.md for consistent contribution guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: @loqalabs/core-team

Bump ci deps
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
Owners: @loqalabs/devops-team

Enhance CI/CD with comprehensive security and workflow improvements
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
  README.md
Owners: @loqalabs/devops-team, @loqalabs/core-team

Fix esbuild security vulnerability
  package-lock.json
  package.json
Owners: @loqalabs/core-team

Fix Vite 7 compatibility issue
  package-lock.json
  package.json
  src/components/VoiceEventCard.vue
  src/views/Timeline.vue
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Fix ESLint configuration for modern versions
  .eslintignore
  package.json
Owners: @loqalabs/core-team

Test workflow after resolving dependency conflicts
  README.md
Owners: @loqalabs/core-team

Update UI components and documentation from puck to relay terminology
  CONTRIBUTING.md
  src/components/EventDetailModal.vue
  src/components/VoiceEventCard.vue
  src/components/VoiceEventTimeline.vue
  src/views/Timeline.vue
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Fix typo in README
  README.md
Owners: @loqalabs/core-team

Strategic shift: Transform Observer to Commander administrative dashboard
  README.md
  index.html
  package.json
  src/App.vue
  src/main.js
  src/views/Dashboard.vue
  src/views/Settings.vue
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Complete Observer → Commander terminology migration across all documentation
  .github/workflows/ci.yml
  SECURITY.md
  docker-compose.yml
  package-lock.json
  src/style.css
Owners: @loqalabs/devops-team, @loqalabs/core-team, @loqalabs/frontend-team

Add Claude Code configuration with project-wide development rules
  .claude-code.json
Owners: @loqalabs/core-team

Update Claude Code config with microservice architecture context
  .claude-code.json
Owners: @loqalabs/core-team

Enhance testing requirements with comprehensive frontend testing guidelines
  .claude-code.json
Owners: @loqalabs/core-team

Add comprehensive commander UI documentation
  CLAUDE.md
Owners: @loqalabs/core-team

Add comprehensive quality-check script and fix unused variable
  .claude-code.json
  package.json
  src/main.js
  src/views/Dashboard.vue
  src/views/Settings.vue
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Update Claude Code configuration with microservice architecture context
  .claude-code.json
Owners: @loqalabs/core-team

Add comprehensive VSCode configuration for Commander UI
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Owners: @loqalabs/core-team

Update gitignore to share VSCode configurations
  .gitignore
Owners: @loqalabs/core-team

Revert to ignore .vscode directory
  .gitignore
Owners: @loqalabs/core-team

Remove loqa-device-service references from configuration
  CONTRIBUTING.md
Owners: @loqalabs/core-team

Add critical workflow requirements to prevent development issues
  .claude-code.json
  CLAUDE.md
Owners: @loqalabs/core-team

Add comprehensive security scanning workflow
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

Fix security workflow action references
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

Fix GitLeaks SARIF upload issue
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

Remove duplicate security workflow
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

.github/CODEOWNERS:

# Global owners
* @loqalabs/core-team

# Frontend specific
/src/ @loqalabs/frontend-team
*.vue @loqalabs/frontend-team
*.js @loqalabs/frontend-team
*.ts @loqalabs/frontend-team

# Docker and deployment
Dockerfile @loqalabs/devops-team
docker-compose.yml @loqalabs/devops-team
nginx.conf @loqalabs/devops-team

# CI/CD
/.github/ @loqalabs/devops-team
