Repository loqalabs/loqa-commander, changes with the owners that .github/CODEOWNERS names for each.
All owners: @loqalabs/core-team, @loqalabs/frontend-team, @loqalabs/devops-team

.github/CODEOWNERS:

# Global owners
* @loqalabs/core-team

# Frontend specific
/src/ @loqalabs/frontend-team
*.vue @loqalabs/frontend-team
*.js @loqalabs/frontend-team
*.ts @loqalabs/frontend-team

# Docker and deployment
Dockerfile @loqalabs/devops-team
docker-compose.yml @loqalabs/devops-team
nginx.conf @loqalabs/devops-team

# CI/CD
/.github/ @loqalabs/devops-team

Add dedicated security workflow for scheduled and manual scans
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

Optimize security scanning frequency
  .github/workflows/ci.yml
Owners: @loqalabs/devops-team

Security CI/CD Workflow Implementation (#18)
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

Migrate loqa-commander to ESLint 9
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package-lock.json
  package.json
Owners: @loqalabs/core-team, @loqalabs/frontend-team

ESLint 8 → 9 Migration (Issue #29) (#19)
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  eslint.config.js
  package-lock.json
  package.json
Owners: @loqalabs/core-team, @loqalabs/devops-team, @loqalabs/frontend-team

Standardize workflow names
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

Standardize workflow names (#22)
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
  .github/workflows/security.yml
Owners: @loqalabs/devops-team

Add workflow_dispatch to CI workflows for manual execution
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
Owners: @loqalabs/devops-team

Add workflow_dispatch trigger to all workflows (#23)
  .github/workflows/ci.yml
  .github/workflows/commit-message-check.yml
Owners: @loqalabs/devops-team

Upgrade Tailwind CSS from 3.4.1 to 4.1.13
  package-lock.json
  package.json
  postcss.config.js
  src/App.vue
  src/components/EventDetailModal.vue
  src/components/SkillDetailModal.vue
  src/components/VoiceEventCard.vue
  src/components/VoiceEventTimeline.vue
  src/style.css
  src/views/Dashboard.vue
  src/views/Settings.vue
  src/views/Skills.vue
  src/views/Timeline.vue
  tailwind.config.js
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Upgrade Tailwind CSS from 3.4.1 to 4.1.13 (#25)
  package-lock.json
  package.json
  postcss.config.js
  src/App.vue
  src/components/EventDetailModal.vue
  src/components/SkillDetailModal.vue
  src/components/VoiceEventCard.vue
  src/components/VoiceEventTimeline.vue
  src/style.css
  src/views/Dashboard.vue
  src/views/Settings.vue
  src/views/Skills.vue
  src/views/Timeline.vue
  tailwind.config.js
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Fix #31: Upgrade Pinia from v2 to v3 and implement centralized state management
  package-lock.json
  package.json
  src/stores/events.js
  src/stores/skills.js
  src/stores/system.js
  src/views/Skills.vue
  src/views/Timeline.vue
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Fix #31: Upgrade Pinia from v2 to v3 and implement centralized state management (#27)
  package-lock.json
  package.json
  src/stores/events.js
  src/stores/skills.js
  src/stores/system.js
  src/views/Skills.vue
  src/views/Timeline.vue
Owners: @loqalabs/core-team, @loqalabs/frontend-team

Update Vue.js ecosystem dependencies
  package-lock.json
  package.json
Owners: @loqalabs/core-team

Update Vue.js ecosystem dependencies (#28)
  package-lock.json
  package.json
Owners: @loqalabs/core-team

Add missing browser globals for eslint-plugin-vue 10.4.0 compatibility
  eslint.config.js
Owners: @loqalabs/frontend-team

Initialize backlog.md task management system
  backlog/config.yml
  backlog/templates/README.md
  backlog/templates/bug-fix-template.md
  backlog/templates/cross-repo-work-template.md
  backlog/templates/feature-template.md
  backlog/templates/general-task-template.md
  backlog/templates/protocol-change-template.md
Owners: @loqalabs/core-team

Initialize backlog.md task management system (#30)
  backlog/config.yml
  backlog/templates/README.md
  backlog/templates/bug-fix-template.md
  backlog/templates/cross-repo-work-template.md
  backlog/templates/feature-template.md
  backlog/templates/general-task-template.md
  backlog/templates/protocol-change-template.md
Owners: @loqalabs/core-team

Add comprehensive commander backlog tasks from audit remediation
  backlog/tasks/task-1 - Plugin-based-Observer-Widgets-System.md
  backlog/tasks/task-2 - Timeline-Filtering-and-Event-Categorization.md
Owners: @loqalabs/core-team

Add comprehensive commander backlog tasks from audit remediation (#32)
  backlog/tasks/task-1 - Plugin-based-Observer-Widgets-System.md
  backlog/tasks/task-2 - Timeline-Filtering-and-Event-Categorization.md
Owners: @loqalabs/core-team

fix: install task management agent and optimize backlog configuration
  .claude/agents/project-manager-backlog.md
  backlog/config.yml
Owners: @loqalabs/core-team

Install task management agent and optimize workflow configuration (#33)
  .claude/agents/project-manager-backlog.md
  backlog/config.yml
Owners: @loqalabs/core-team

feat(backlog): add MCP hybrid architecture UI tasks
  backlog/tasks/task-001-skills-architecture-evolution-add-mcp-server-support-loqa-commander-changes.md
Owners: @loqalabs/core-team

feat(backlog): add MCP hybrid architecture UI tasks (#34)
  backlog/tasks/task-001-skills-architecture-evolution-add-mcp-server-support-loqa-commander-changes.md
Owners: @loqalabs/core-team

feat: standardize task file naming format
  backlog/tasks/task-1-skills-architecture-evolution-add-mcp-server-support-loqa-commander-changes.md
Owners: @loqalabs/core-team

feat: standardize task file naming format (#35)
  backlog/tasks/task-1-skills-architecture-evolution-add-mcp-server-support-loqa-commander-changes.md
Owners: @loqalabs/core-team
